<p>
Manually Edit
<%= f.radio_button("source", "edit") %>
<%- if current_user.email_templates.count > 0 -%>
  <br />
  From Template
  <%= f.radio_button("source", "template") %>
<%- end -%>
<br />
From Uploaded Files
<%= f.radio_button("source", "upload") %>
</p>
