<p>
  <%= f.label :email_template_id, "Select Template" %>
  <%= f.collection_select :email_template_id, current_user.email_templates.all(:order => 'title'), :id, :title, :include_blank => 'Please select template' %><br />
</p>
<%= f.hidden_field :state, :value => 'template_selected' %>