<% form_for @message, :html => { :multipart => (@message.multipart) } do |f| -%>
  <%= f.error_messages %>

  <%= render :partial => @message.state, :locals => { :f => f, :message => @message } %>
  
<% end -%>

<p>
  Step: <%= @message.state %>
</p>