<h2>Saved Messages:</h2>
<%- if @messages.empty? -%>
  No messages created
<% else -%>
  <table>
    <%= render :partial => 'message', :collection => @messages %>
  </table>
<%- end -%>

<%= link_to "Make a new message", new_message_path %>
